<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center text-light">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Kocaeli Üniversitesi Bilişim Sistemleri Mühendisliği</h1>
                <p class="lead">WEB PROGRAMLAMA ÖDEVİ 3-4</p>
                {{#unless displayLink}}
                <p>Hesabınız yoksa <a class="btn btn-success" href="/register"><i class="fas fa-link"></i> buradan</a>
                    başlayabilirsiniz.</p>
                {{/unless}}
            </div>
        </div>
    </div>
</header>